@font-face {
    font-family: 'Purista';
    src: url('fonts/Purista-SemiBold.woff2') format('woff2'),
        url('fonts/Purista-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Purista';
    src: url('fonts/Purista-Bold.woff2') format('woff2'),
        url('fonts/Purista-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Purista';
    src: url('fonts/Purista-Medium.woff2') format('woff2'),
        url('fonts/Purista-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hhhbold';
    src: url('fonts/icaorwyid-webfont.woff2') format('woff2'),
         url('fonts/icaorwyid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'Purista';
}

html {
    overflow-x: hidden;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#background-img {
    background-image: url("images/background-fall.jpg");
    background-size: cover;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#header {
    width: 100vw;
    height: 60px;
    background-color: #111111;
    border-bottom: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 60px;
    height: 60px;
    user-select: none;
}

#logo-text {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
    vertical-align: middle;
}

#guns-container {
    width: 50vw;
    height: 82%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    top: 6vw;
    left: 5vw;
    background-image: linear-gradient(135deg, rgba(86, 86, 86, 1), rgba(86, 86, 86, 0.25));
    border: 1px solid white;
    border-radius: 0.25vw;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 0.25vw;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-top-right-radius: 0.25vw;
    border-bottom-right-radius: 0.25vw;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.25vw;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 0.25vw;
}

#header {
    width: 100vw;
    height: 60px;
    background-color: #111111;
    border-bottom: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 60px;
    height: 60px;
    filter: invert(1);
    transform: rotate(-10deg) scaleX(-1);
}

#logo-text {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
    vertical-align: middle;
}

#credits {
    position: absolute;
    bottom: 0.25vw;
    left: 0.25vw;
    z-index: 100;
    color: white;
    font-size: 0.905vw;
}

.link {
    color: gray;
}

#warning {
    position: absolute;
    bottom: 0.05vw;
    right: 30vw;
    user-select: none;
    font-size: 1.25vw;
    color: white;
}

#warning-text {
    position: absolute;
    bottom: 0.15vw;
    right: 0.25vw;
    color: white;
    font-size: 0.905vw;
}

#dim-warning-container {
    background-image: linear-gradient(160deg,salmon, red);
    opacity: 80%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 100;
    visibility: hidden;
}

#dim-warning-icon {
    color: white;
    font-size: 150px;
    text-align: center;
    width: 100%;
    user-select: none;
    margin-top: 5%;
}

#dim-warning-title {
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: -1%;
}

#dim-warning-text {
    color: white;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#proceed {
    border: white solid 5px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    margin-top: 10%;
}

#proceed:hover {
    box-shadow: 0px 0px 10px black;
    transition: box-shadow ease-in-out 0.25s;
}

#version-warning-container {
    background-image: linear-gradient(160deg, tan, yellow);
    opacity: 80%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 100;
    visibility: hidden;
}

#version-warning-icon {
    color: white;
    font-size: 150px;
    text-align: center;
    width: 100%;
    user-select: none;
    margin-top: 5%;
}

#version-warning-title {
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: -1%;
}

#version-warning-text {
    color: white;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#version-proceed {
    border: white solid 5px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    margin-top: 10%;
}

#version-proceed:hover {
    box-shadow: 0px 0px 10px black;
    transition: box-shadow ease-in-out 0.25s;
}

textarea:focus, input:focus{
    outline: none;
}

#material-container {
    width: 37.5vw;
    height: 82%;
    position: absolute;
    top: 6vw;
    left: 57.5vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(135deg, rgba(86, 86, 86, 1), rgba(86, 86, 86, 0.25));
    border: 1px solid white;
    border-radius: 0.25vw;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

#reset {
    border: 2px solid white;
    position: absolute;
    top: 95%;
    left: 44.9vw;
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    line-height: 2vw;
    cursor: pointer;
    color: black;
    background-image: linear-gradient(135deg, white, rgba(86, 86, 86, 0.25));
    color: black;
}

#reset:hover {
    border: 2px solid black;
    transition: border ease-in-out 0.25s;
}

#title1 {
    position: absolute;
    top: 3vw;
    left: 5vw;
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

#title2 {
    position: absolute;
    top: 3vw;
    left: 57.5vw;
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

#bg-type {
    position: absolute;
    top: 94.25%;
    left: 57.5vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;
}

#switch1 {
    position: absolute;
    top: 97.25%;
    left: 57.5vw;
}

/* The switch - the box around the slider */
.switch {
    display: inline-block;
    width: 60px;
    height: 21px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#stack-type {
    position: absolute;
    top: 94.25%;
    left: 39vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;
}

#switch2 {
    position: absolute;
    top: 97.25%;
    left: 39vw;
}

#time-text-container {
    position: absolute;
    top: 95%;
    left: 27vw;
    width: 11vw;
    height: 2vw;
    cursor: pointer;
    border: 1px transparent solid;
}

#time-text-container:hover {
    transition: border ease-in-out 0.4s;
    border: 1px white solid;
}

#time-text {
    color: white;
    font-size: 0.85vw;
    font-weight: bold;
    text-align: center;
}

#time {
    color: white;
    font-size: 0.75vw;
    font-weight: 500;
    text-align: center;
    margin-top: -0.15vw;
}

#time-menu-container {
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}

#time-menu {
    margin: 12.5vw auto;
    width: 45vw;
    height: 25vw;
    background-image: linear-gradient(#181818, #070707);
    border: 1px white solid;
    box-shadow: 0.25vw 0.25vw 0.5vw black;
}

#overview-text {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

#close {
    cursor: pointer;
    position: relative;
    width: 1.25vw;
    height: 1.25vw;
    top: -2vw;
    left: 43vw;
    filter: contrast(0);
}

#close:hover {
    filter: contrast(1) invert(1);
}

#crushers {
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
}

#crusher {
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -1.5vw;
    left: 18vw;
}

#slider {
    position: relative;
    top: -2vw;
    left: 2.5vw;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 40vw; /* Full-width */
    height: 0.75vw; /* Specified height */
    background: white; /* Grey background */
    outline: none; /* Remove outline */
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vw;
    height: 2vw;
    background: #134400;
    border: black 1px solid;
    cursor: pointer;
}
  
#slider::-moz-range-thumb {
    width: 1.5vw;
    height: 2vw;
    background: #134400;
    border: black 1px solid;
    cursor: pointer;
}

#numbers-container {
    width: 50vw;
    height: 2vw;
    position: relative;
    top: -1.5vw;
    left: 3vw;
}

.number {
    color: white;
    font-size: 1.25vw;
    font-weight: 500;
    display: inline-block;
    margin-right: 3.28vw;
}

#estimated {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-top: -1vw;
}

#time2 {
    color: white;
    font-size: 2vw;
    font-weight: 500;
    text-align: center;
    margin-top: -0.15vw;
}

#help {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    color: white;
    user-select: none;
    cursor: pointer;
}

.material-icons.info {
    font-size: 2.25vw;
}

.material-icons.info:hover {
    font-size: 2.35vw;
    transition-duration: 0.25s;
    position: absolute;
    top: -0.03vw;
    right: -0.02vw;
}

/*Help Section*/

#help-container {
    background-image: linear-gradient(160deg,lime, green);
    opacity: 0%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 100;
    visibility: hidden;
}

#help-icon {
    color: white;
    font-size: 150px;
    text-align: center;
    width: 100%;
    user-select: none;
    margin-top: 5%;
}

#help-title {
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: -1%;
}

#help-text {
    color: white;
    font-size: 50px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#help-proceed {
    border: white solid 5px;
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    margin-top: 10%;
}

#help-proceed:hover {
    box-shadow: 0px 0px 10px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box1 {
    width: 50.25vw;
    height: 82.6%;
    border: 0.4vw white solid;
    position: absolute;
    top: 5.5vw;
    left: 4.5vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text1 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 16vw;
    height: 10vw;
    position: absolute;
    top: 5.5vw;
    left: 56.25vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed1 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed1:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box2 {
    width: 37.75vw;
    height: 82.6%;
    border: 0.4vw white solid;
    position: absolute;
    top: 5.5vw;
    left: 57vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text2 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 16vw;
    height: 11vw;
    position: absolute;
    top: 5.5vw;
    left: 39.5vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed2 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed2:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box3 {
    width: 37.75vw;
    height: 5.3vw;
    border: 0.4vw white solid;
    position: absolute;
    top: 5.5vw;
    left: 57vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text3 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 16vw;
    height: 8.25vw;
    position: absolute;
    top: 5.5vw;
    left: 39.5vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed3 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed3:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box4 {
    width: 37.75vw;
    height: 11.35vw;
    border: 0.4vw white solid;
    position: absolute;
    top: 5.5vw;
    left: 57vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text4 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 16vw;
    height: 5.5vw;
    position: absolute;
    top: 5.5vw;
    left: 39.5vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed4 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed4:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box5 {
    width: 11.25vw;
    height: 2.1vw;
    border: 0.25vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 26.7vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text5 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 26vw;
    height: 11vw;
    position: absolute;
    bottom: 3vw;
    left: 19vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed5 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed5:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box6 {
    width: 5.75vw;
    height: 4.7%;
    border: 0.25vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 38.5vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text6 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 15vw;
    height: 9.75vw;
    position: absolute;
    bottom: 3vw;
    left: 33.6vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed6 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed6:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box7 {
    width: 10.3vw;
    height: 4.5%;
    border: 0.25vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 44.6vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text7 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 17vw;
    height: 9.75vw;
    position: absolute;
    bottom: 3vw;
    left: 41vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed7 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed7:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box8 {
    width: 10vw;
    height: 4.7%;
    border: 0.25vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 57.1vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text8 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 22vw;
    height: 9.75vw;
    position: absolute;
    bottom: 3vw;
    left: 51vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed8 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed8:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box9 {
    width: 31.15vw;
    height: 2.25%;
    border: 0.15vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 68.5vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text9 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 22vw;
    height: 6.9vw;
    position: absolute;
    bottom: 1.9vw;
    left: 72.5vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed9 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed9:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#beta-icon {
    color: white;
    position: absolute;
    top: 0.675vw;
    right: 3.5vw;
    font-size: 2vw;
    user-select: none;
    cursor: pointer;
}

#beta-icon:hover {
    font-size: 2.25vw;
    transition-duration: 0.25s;
    position: absolute;
    top: 0.5vw;
    right: 3.375vw;
}

#beta-container {
    position: absolute;
    width: 45vw;
    height: 13vw;
    background-image: linear-gradient(#181818, #070707);
    border: 1px white solid;
    box-shadow: 0.25vw 0.25vw 0.5vw black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#beta-title {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

#beta-text {
    color: white;
    text-align: center;
    font-size: 1vw;
    padding: 0vw 1vw;
}

#beta-version {
    color: white;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-top: -0.75vw;
}

#switch3 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px white solid;
}

#beta-close {
    cursor: pointer;
    position: absolute;
    width: 1.25vw;
    height: 1.25vw;
    top: 0.5vw;
    right: 0.5vw;
    filter: contrast(0);
}

#beta-close:hover {
    filter: contrast(1) invert(1);
}