@font-face {
    font-family: 'Purista';
    src: url('fonts/Purista-SemiBold.woff2') format('woff2'),
        url('fonts/Purista-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Purista';
    src: url('fonts/Purista-Bold.woff2') format('woff2'),
        url('fonts/Purista-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Purista';
    src: url('fonts/Purista-Medium.woff2') format('woff2'),
        url('fonts/Purista-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hhhbold';
    src: url('fonts/icaorwyid-webfont.woff2') format('woff2'),
         url('fonts/icaorwyid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'Purista';
}

html {
    overflow-x: hidden;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#background-img {
    background-image: url("images/background-rockford.jfif");
    background-size: cover;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#header {
    width: 100vw;
    height: 60px;
    background-color: rgba(0, 15, 31, 0.95);
    border-bottom: white solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

#logo {
    width: 60px;
    height: 60px;
    user-select: none;
}

#logo-text {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
    vertical-align: middle;
}

#guns-container {
    width: 50vw;
    height: 82%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    top: 6vw;
    left: 5vw;
    background-image: linear-gradient(135deg, rgba(86, 86, 86, 1), rgba(86, 86, 86, 0.25));
    border: 1px solid #545b5e;
    border-radius: 0.25vw;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 0.25vw;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #3a3a3a;
    border-top-right-radius: 0.25vw;
    border-bottom-right-radius: 0.25vw;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.25vw;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 0.25vw;
}

#logo {
    width: 60px;
    height: 60px;
    filter: invert(1);
    transform: rotate(-10deg) scaleX(-1) rotateY(180deg);
    z-index: 1;
}

#logo-text {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
    vertical-align: middle;
    z-index: 1;
}

#credits {
    position: absolute;
    bottom: 0.25vw;
    left: 0.25vw;
    z-index: 100;
    color: white;
    font-size: 0.905vw;
}

.link {
    color: gray;
    text-shadow: 1px 1px 1px black;
}

#warning {
    position: absolute;
    bottom: 0.05vw;
    right: 30vw;
    user-select: none;
    font-size: 1.25vw;
    color: white;
}

#warning-text {
    position: absolute;
    bottom: 0.15vw;
    right: 0.25vw;
    color: white;
    font-size: 0.905vw;
}

#dim-warning-container {
    background-image: linear-gradient(160deg,salmon, red);
    opacity: 80%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 100;
    visibility: hidden;
}

#dim-warning-icon {
    color: white;
    font-size: 150px;
    text-align: center;
    width: 100%;
    user-select: none;
    margin-top: 5%;
}

#dim-warning-title {
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: -1%;
}

#dim-warning-text {
    color: white;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#proceed {
    border: white solid 5px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    margin-top: 10%;
}

#proceed:hover {
    box-shadow: 0px 0px 10px black;
    transition: box-shadow ease-in-out 0.25s;
}

textarea:focus, input:focus{
    outline: none;
}

#material-container {
    width: 37.5vw;
    height: 50%;
    position: absolute;
    top: 6vw;
    left: 57.5vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(135deg, rgba(86, 86, 86, 1), rgba(86, 86, 86, 0.25));
    border: 1px solid #545b5e;
    border-radius: 0.25vw;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

#reset {
    border: 4px solid white;
    position: absolute;
    top: 63.75%;
    left: 57.5vw;
    width: 37vw;
    height: 4vw;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    line-height: 3.75vw;
    cursor: pointer;
    color: black;
    background-image: linear-gradient(135deg, white, rgba(86, 86, 86, 0.25));
    border-radius: 0.3vw;
    transition: border 0.5s ease;
}

#reset:hover {
    border: 4px solid black;
}

#title1 {
    position: absolute;
    top: 3vw;
    left: 5vw;
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

#title2 {
    position: absolute;
    top: 3vw;
    left: 57.5vw;
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

#bg-type {
    position: absolute;
    top: 94.5%;
    left: 26vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;
}

#switch1 {
    position: absolute;
    top: 97.25%;
    left: 26vw;
}

/* The switch - the box around the slider */
.switch {
    display: inline-block;
    width: 60px;
    height: 21px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#stack-type {
    position: absolute;
    top: 94.5%;
    left: 19vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;
}

#switch2 {
    position: absolute;
    top: 97.25%;
    left: 19vw;
}

#time-text-container {
    position: absolute;
    top: 82%;
    left: 57.5vw;
    width: 37vw;
    height: 4vw;
    /*border: 1px transparent solid;*/
}

#time-text {
    color: white;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

#time {
    color: white;
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
    margin-top: -1vw;
    text-shadow: 3px 3px 3px black;
}

#coal-furnace {
    position: absolute;
    top: 73.5%;
    left: 76.25vw;
    width: 18.25vw;
    height: 4.25vw;
    border: 0.175vw solid #333333;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 0.1), rgba(109, 109, 109, 1));
    border-radius: 0.35vw;
    cursor: pointer;
}

#coal-furnace:hover {
    border: 0.175vw solid #777777;
    background-image: linear-gradient(135deg, rgba(150, 150, 150, 0.1), rgba(150, 150, 150, 1));
    transition-duration: 0.5s;
}

#coal-furnace-image {
    position: absolute;
    width: 5.75vw;
    height: 5.75vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
}

#electric-furnace {
    position: absolute;
    top: 73.5%;
    left: 57.5vw;
    width: 18.25vw;
    height: 4.25vw;
    border: 0.175vw solid #333333;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 0.1), rgba(109, 109, 109, 1));
    border-radius: 0.35vw;
    cursor: pointer;
}

#electric-furnace:hover {
    border: 0.175vw solid #777777;
    background-image: linear-gradient(135deg, rgba(150, 150, 150, 0.1), rgba(150, 150, 150, 1));
    transition-duration: 0.5s;
}

#electric-furnace-image {
    position: absolute;
    width: 5.75vw;
    height: 5.75vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
}

.furnace-text {
    color: white;
    font-size: 1vw;
    font-weight: 600;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
}

#help {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    color: white;
    user-select: none;
    cursor: pointer;
}

.material-icons.info {
    font-size: 43px;
}

.material-icons.info:hover {
    font-size: 45px;
    transition-duration: 0.25s;
    position: absolute;
    top: -0.03vw;
    right: -0.02vw;
}

/*Help Section*/

#help-container {
    background-image: linear-gradient(160deg,lime, green);
    opacity: 0%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 100;
    visibility: hidden;
}

#help-icon {
    color: white;
    font-size: 150px;
    text-align: center;
    width: 100%;
    user-select: none;
    margin-top: 5%;
}

#help-title {
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: -1%;
}

#help-text {
    color: white;
    font-size: 50px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#help-proceed {
    border: white solid 5px;
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    margin-top: 10%;
}

#help-proceed:hover {
    box-shadow: 0px 0px 10px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box1 {
    width: 50.25vw;
    height: 82.6%;
    border: 0.4vw white solid;
    position: absolute;
    top: 5.5vw;
    left: 4.5vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text1 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 16vw;
    height: 10vw;
    position: absolute;
    top: 5.5vw;
    left: 56.25vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed1 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed1:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box2 {
    width: 37.75vw;
    height: 82.6%;
    border: 0.4vw white solid;
    position: absolute;
    top: 5.5vw;
    left: 57vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text2 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 16vw;
    height: 11vw;
    position: absolute;
    top: 5.5vw;
    left: 39.5vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed2 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed2:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box3 {
    width: 37.75vw;
    height: 5.3vw;
    border: 0.4vw white solid;
    position: absolute;
    top: 5.5vw;
    left: 57vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text3 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 16vw;
    height: 8.25vw;
    position: absolute;
    top: 5.5vw;
    left: 39.5vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed3 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed3:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box4 {
    width: 37.75vw;
    height: 11.35vw;
    border: 0.4vw white solid;
    position: absolute;
    top: 5.5vw;
    left: 57vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text4 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 16vw;
    height: 5.5vw;
    position: absolute;
    top: 5.5vw;
    left: 39.5vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed4 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed4:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box5 {
    width: 11.25vw;
    height: 2.1vw;
    border: 0.25vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 26.7vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text5 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 26vw;
    height: 11vw;
    position: absolute;
    bottom: 3vw;
    left: 19vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed5 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed5:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box6 {
    width: 5.75vw;
    height: 4.7%;
    border: 0.25vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 38.5vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text6 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 15vw;
    height: 9.75vw;
    position: absolute;
    bottom: 3vw;
    left: 33.6vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed6 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed6:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box7 {
    width: 10.3vw;
    height: 4.5%;
    border: 0.25vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 44.6vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text7 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 17vw;
    height: 9.75vw;
    position: absolute;
    bottom: 3vw;
    left: 41vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed7 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed7:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box8 {
    width: 10vw;
    height: 4.7%;
    border: 0.25vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 57.1vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text8 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 22vw;
    height: 9.75vw;
    position: absolute;
    bottom: 3vw;
    left: 51vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed8 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed8:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}

#help-box9 {
    width: 31.15vw;
    height: 2.25%;
    border: 0.15vw white solid;
    position: absolute;
    bottom: 0vw;
    left: 68.5vw;
    visibility: hidden;
    pointer-events: none;
}

#help-text9 {
    color: #ff4444;
    background-color: white;
    border: 0.25vw white solid;
    font-size: 1vw;
    width: 22vw;
    height: 6.9vw;
    position: absolute;
    bottom: 1.9vw;
    left: 72.5vw;
    text-align: center;
    padding: 0.25vw;
    visibility: hidden;
}

#help-proceed9 {
    border: #ff4444 solid 3px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #ff4444;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: auto;
    position: relative;
    margin-top: 0.5vw;
}

#help-proceed9:hover {
    box-shadow: 0px 0px 5px black;
    transition: box-shadow ease-in-out 0.25s;
}
/*
#settings-icon {
    color: white;
    position: absolute;
    top: 0.675vw;
    right: 3.5vw;
    font-size: 2vw;
    user-select: none;
    cursor: pointer;
}

#settings-icon:hover {
    font-size: 2.25vw;
    transition-duration: 0.25s;
    position: absolute;
    top: 0.5vw;
    right: 3.375vw;
}

#settings-container {
    position: absolute;
    width: 50vw;
    height: 30vw;
    background-image: linear-gradient(#181818, #070707);
    border: 1px white solid;
    box-shadow: 0.25vw 0.25vw 0.5vw black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#settings-title {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

#settings-close {
    cursor: pointer;
    position: absolute;
    width: 1.25vw;
    height: 1.25vw;
    top: 0.5vw;
    right: 0.5vw;
    filter: contrast(0);
}

#settings-close:hover {
    filter: contrast(1) invert(1);
}*/

#plastic-alert-container {
    width: 37.5vw;
    height: 3vw;
    border: 0.175vw solid rgb(145, 47, 47);
    border-radius: 0.35vw;
    background-image: linear-gradient(135deg, rgba(145, 47, 47, 0.1), rgb(145, 47, 47));
    cursor: pointer;
    visibility: hidden;
}

#plastic-alert-image {
    border: 0.15vw solid rgb(66, 20, 20);
    border-radius: 0.35vw;
    background-image: linear-gradient(135deg, rgba(66, 20, 20, 0.1), rgb(66, 20, 20));
    position: relative;
    top: 0.125vw;
    left: 0.1vw;
    width: 2.5vw;
    height: 2.5vw;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

#plastic-alert-title {
    color: white;
    font-size: 1.1vw;
    font-weight: 600;
    position: relative;
    top: -1.5vw;
    left: 0.2vw;
    display: inline-block;
    user-select: none;
}

#plastic-alert-amount {
    color: white;
    font-size: 1vw;
    font-weight: 500;
    position: relative;
    top: -1.7vw;
    left: 3.2vw;
    display: block;
    user-select: none;
}

#plastic-alert2-container {
    width: 36vw;
    height: 3vw;
    border: 0.175vw solid rgb(66, 20, 20);
    border-radius: 0.35vw;
    background-image: linear-gradient(135deg, rgba(145, 47, 47, 1), rgb(145, 47, 47));
    cursor: pointer;
    position: fixed;
    top: 6.5vw;
    margin-left: 0.25vw;
    visibility: hidden;
}

#plastic-alert2-image {
    border: 0.15vw solid rgb(66, 20, 20);
    border-radius: 0.35vw;
    background-image: linear-gradient(135deg, rgba(66, 20, 20, 0.1), rgb(66, 20, 20));
    position: relative;
    top: 0.125vw;
    left: 0.1vw;
    width: 2.5vw;
    height: 2.5vw;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

#plastic-alert2-title {
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    position: relative;
    top: -0.85vw;
    left: 2vw;
    display: inline-block;
    user-select: none;
}

#update-log-container {
    background-image: linear-gradient(135deg, rgb(0, 0, 0), rgb(37, 37, 37));
    width: 75%;
    height: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px white solid;
    box-shadow: 0px 0px 50px black;
    opacity: 100%;
    visibility: visible;
    transition: opacity ease 0.5s, visibility ease 0.5s;
}

#update-log-close {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 200%;
    border: 2px white solid;
    padding-top: 0.25%;
    padding-bottom: 0.4%;
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
}

#update-log-close:hover {
    box-shadow: 0px 0px 30px black;
    border: 2px black solid;
    color: #181818;
    background-color: white;
}

#update-log-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

#update-log-header-image {
    width: 5%;
    user-select: none;
}

#update-log-header-text {
    font-size: 275%;
    font-weight: 600;
    color: white;
    user-select: none;
}

#update-log-version-container {
    position: fixed;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#update-log-version-text {
    color: white;
    font-size: 200%;
    letter-spacing: 1vw;
    font-weight: 500;
    user-select: none;
}

#update-log-version-value {
    color: white;
    text-shadow: 0px 0px 50px white;
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    user-select: none;
    letter-spacing: 0.5vw;
}

#update-log-content-container {
    position: fixed;
    width: 90%;
    height: 54%;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px white solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons.changelogs {
    font-size: 40px;
    position: fixed;
    top: 0.5vw;
    left: 0.5vw;
    color: white;
    user-select: none;
    cursor: pointer;
    z-index: 100;
}

#weapons-button-container {
    position: absolute;
    top: 3.55vw;
    left: 42vw;
    width: 5vw;
    height: 1.75vw;
    border: 0.175vw solid #333333;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 0.1), rgba(109, 109, 109, 1));
    border-radius: 0.35vw;
    cursor: pointer;
    user-select: none;
}

#weapons-button-container:hover {
    border: 0.175vw solid #777777;
    background-image: linear-gradient(135deg, rgba(150, 150, 150, 0.1), rgba(150, 150, 150, 1));
    transition-duration: 0.5s;
}

#weapons-button-text {
    color: white;
    font-size: 1vw;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#attachments-button-container {
    position: absolute;
    top: 3.55vw;
    left: 48vw;
    width: 6.75vw;
    height: 1.75vw;
    border: 0.175vw solid #333333;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 0.1), rgba(109, 109, 109, 1));
    border-radius: 0.35vw;
    cursor: pointer;
    user-select: none;
}

#attachments-button-container:hover {
    border: 0.175vw solid #777777;
    background-image: linear-gradient(135deg, rgba(150, 150, 150, 0.1), rgba(150, 150, 150, 1));
    transition-duration: 0.5s;
}

#attachments-button-text {
    color: white;
    font-size: 1vw;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active {
    border: 0.175vw solid #19ff00 !important;
    background-image: linear-gradient(135deg, rgba(22, 135, 0, 0.1), rgba(22, 135, 0, 1)) !important;
}

.inactive {
    border: 0.175vw solid #19ff00;
    background-image: linear-gradient(135deg, rgba(22, 135, 0, 0.1), rgba(22, 135, 0, 1));
}

.inactive:hover {
    border: 0.175vw solid #333333;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 0.1), rgba(109, 109, 109, 1));
}

.disabled {
    border: 0.175vw solid #ff0000 !important;
    background-image: linear-gradient(135deg, rgba(124, 4, 4, 0.1), rgb(124, 4, 4)) !important;
}